@import "tailwindcss";

:root {
  --background: #f8fafc;
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

/* Ant Design Custom - Fix lỗi giao diện */
.ant-menu-dark .ant-menu-item {
  height: 48px !important;
  border-radius: 12px !important;
  margin: 4px 8px !important;
  display: flex !important;
  align-items: center !important;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #2563eb !important;
  color: #fff !important;
}